@bodybgColor: #fefefe;
@bodyTextColor: #454545;
@linkColor: #07A;

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  background-color: @bodybgColor;
}

body{
  font-family: "Open Sans", Arial;
  color: @bodyTextColor;
  font-size: 16px;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.4;
  text-align: justify;
}

a {
  color: @linkColor;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 2em auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

div.separator1 {
  height: 1rem;
}

section p {
  margin: 0;
  text-align: left;
}

.bold {
  font-weight: bold;
}

#list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#list-header > * {
  flex: 25%;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

#list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 150px;
}

#list-item > * {
  flex: 25%;
  margin: auto;
}

#list-item > p {
  vertical-align: middle;
  text-align: center;
}

// REGION FORMS

form {
  max-width: 500px;
}

input[type=file] {
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  height: 20em;
  padding-top: .5em;
}

label {
  display: block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form p {
  font-size: 13px;
}

input[type=submit].disabled {
  color: gray;
  background-color: gray;
}

input[type=submit].disabled:hover {
  background-color: gray;
}

// ENDREGION FORMS

// REGION SNACKBAR

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

// ENDREGION SNACKBAR