head
  meta(charset="utf-8")
  meta(name="theme-color" content="#ffffff")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="Robot Muralist")
  title Agileworks test assignment
  link(rel="apple-touch-icon" sizes="180x180" href="media/favicon/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="media/favicon/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="media/favicon/favicon-16x16.png")
  link(rel="manifest" href="media/favicon/site.webmanifest")
  link(rel="mask-icon" href="media/favicon/safari-pinned-tab.svg" color="#5bbad5")
  meta(name="msapplication-TileColor" content="#da532c")
  link(rel="stylesheet" type="text/css" href="css/normalize.css")
  link(rel="stylesheet" type="text/css" href="css/main.css")