doctype html
html(lang="en")
  include includes/head.pug
  script(src="js/list.js")

  body
    section.container
      div(style="display:flex; flex-direction:row; justify-content: space-around;")
        a(href="submit.html") Submit
        a(href="list.html") List
    section.container
      p#message(style="text-align: center;") Loading...

      div#elementContainer
        div#list-header(style="display:none;")
            p Description
            p Date Submitted
            p Date by
            p
        template
          div
            div#list-item
              p#description
              p#date-submitted(style="vertical-align:middle; margin:auto;")
              p#date-by(style="vertical-align:middle; margin:auto;")
              a#solve(href="#" style="text-align:center;") Resolve
            div.separator1
            
    div#snackbar Appeal resolved